<html>
<head>
    <title> стихотворения
    </title>
    <style>
   .stroke {
    text-shadow: white 1px 1px 0, white -1px -1px 0,
                 white -1px 1px 0, white 1px -1px 0;
   }
  </style>
</head>
<body text = "black" background ="/images/___1.jpg" class="stroke" align = "center">
<a name = "up">  </a>
<font face = "Monotype Corsiva">
    <h1> Стихотворения А.С.&nbsp;Пушкина про осень:
    </h1>
    <h2>
        <ul>
            <li> <a href = "1/3.html">Унылая пора! Очей очарованье!...</a>
            <li> <a href = "1/4.html">Уж небо осенью дышало...</a>
            <li> <a href = "1/5.html">Осеннее утро</a>
            <li> <a href = "1/6.html">Осень</a>
                </ul>
    </h2>
    <IMG SRC="/images/105677333_large_4737188_Bez_imeni2.jpg"> <br>
    <a href = "#up"> наверх </a>
</font>
</body>
</html>