<html>
<head>
    <title> стихотворения
    </title>
    <style>
   .stroke {
    text-shadow: white 1px 1px 0, white -1px -1px 0,
                 white -1px 1px 0, white 1px -1px 0;
   }
  </style>
</head>
<body text = "black" background ="/images/___1.jpg" class="stroke" align = "center">
<a name = "up">  </a>
<font face = "Monotype Corsiva">
    <h1>Унылая пора! Очей очарованье!...
    </h1>
    <h2>
        Унылая пора! Очей очарованье!<br>
        Приятна мне твоя прощальная краса —<br>
        Люблю я пышное природы увяданье,<br>
        В багрец и в золото одетые леса,<br>
        В их сенях ветра шум и свежее дыханье,<br>
        И мглой волнистою покрыты небеса,<br>
        И редкий солнца луч, и первые морозы,<br>
        И отдаленные седой зимы угрозы.<br>
    </h2>
    <IMG SRC="/images/0.jpeg"> <br>
    <a href = "#up"> наверх </a> <br>
    <a href = ../poem.html> назад </a>
</font>
</body>
</html>