<html>
<head>
    <title> стихотворения
    </title>
    <style>
   .stroke {
    text-shadow: white 1px 1px 0, white -1px -1px 0,
                 white -1px 1px 0, white 1px -1px 0;
   }
  </style>
</head>
<body text = "black" background ="/images/___1.jpg" class="stroke" align = "center">
<a name = "up">  </a>
<font face = "Monotype Corsiva">
    <h1>Уж небо осенью дышало...
    </h1>
    <h2>
        Уж небо осенью дышало,<br>
        Уж реже солнышко блистало,<br>
        Короче становился день,<br>
        Лесов таинственная сень<br>
        С печальным шумом обнажалась,<br>
        Ложился на поля туман,<br>
        Гусей крикливый караван<br>
        Тянулся к югу: приближалась<br>
        Довольно скучная пора;<br>
        Стоял ноябрь уж у двора.<br>
    </h2>
    <IMG SRC="/images/mid_56302_8926.jpg"> <br>
    <a href = "#up"> наверх </a> <br>
    <a href = ../poem.html> назад </a>
</font>
</body>
</html>