<html>
<head>
    <title> стихотворения
    </title>
    <style>
   .stroke {
    text-shadow: white 1px 1px 0, white -1px -1px 0,
                 white -1px 1px 0, white 1px -1px 0;
   }
  </style>
</head>
<body text = "black" background ="/images/___1.jpg" class="stroke" align = "center">
<a name = "up">  </a>
<font face = "Monotype Corsiva">
    <h1>Осеннее утро
    </h1>
    <h2>
        Поднялся шум; свирелью полевой<br>
        Оглашено мое уединенье,<br>
        И с образом любовницы драгой<br>
        Последнее слетело сновиденье.<br>
        С небес уже скатилась ночи тень.<br>
        Взошла заря, блистает бледный день —<br>
        А вкруг меня глухое запустенье...<br>
        Уж нет ее... я был у берегов,<br>
        Где милая ходила в вечер ясный;<br>
        На берегу, на зелени лугов<br>
        Я не нашел чуть видимых следов,<br>
        Оставленных ногой ее прекрасной.<br>
        Задумчиво бродя в глуши лесов,<br>
        Произносил я имя несравненной;<br>
        Я звал ее — и глас уединенный<br>
        Пустых долин позвал ее в дали.<br>
        К ручью пришел, мечтами привлеченный;<br>
        Его струи медлительно текли,<br>
        Не трепетал в них образ незабвенный.<br>
        Уж нет ее!.. До сладостной весны<br>
        Простился я с блаженством и с душою.<br>
        Уж осени холодною рукою<br>
        Главы берез и лип обнажены,<br>
        Она шумит в дубравах опустелых;<br>
        Там день и ночь кружится желтый лист,<br>
        Стоит туман на волнах охладелых,<br>
        И слышится мгновенный ветра свист.<br>
        Поля, холмы, знакомые дубравы!<br>
        Хранители священной тишины!<br>
        Свидетели моей тоски, забавы!<br>
        Забыты вы... до сладостной весны!<br>
        1816<br>
    </h2>
    <IMG SRC="/images/normal_(9)-19.jpg"> <br>
    <a href = "#up"> наверх </a> <br>
    <a href = ../poem.html> назад </a>
</font>
</body>
</html>