<html>
<head>
    <title> стихотворения
    </title>
    <style>
   .stroke {
    text-shadow: white 1px 1px 0, white -1px -1px 0,
                 white -1px 1px 0, white 1px -1px 0;
   }
  </style>
</head>
<body text = "black" background ="/images/___1.jpg" class="stroke" align = "center">
<a name = "up">  </a>
<font face = "Monotype Corsiva">
    <h1>Осень
    </h1>
    <h2>
        Октябрь уж наступил — уж роща отряхает<br>
        Последние листы с нагих своих ветвей;<br>
        Дохнул осенний хлад — дорога промерзает.<br>
        Журча ещё бежит за мельницу ручей,<br>
        Но пруд уже застыл; сосед мой поспешает<br>
        В отъезжие поля с охотою своей,<br>
        И страждут озими от бешеной забавы,<br>
        И будит лай собак уснувшие дубравы.<br>
        II

        Теперь моя пора: я не люблю весны;<br>
        Скучна мне оттепель; вонь, грязь — весной я болен;<br>
        Кровь бродит; чувства, ум тоскою стеснены.<br>
        Суровою зимой я более доволен,<br>
        Люблю её снега; в присутствии луны<br>
        Как лёгкий бег саней с подругой быстр и волен,<br>
        Когда под соболем, согрета и свежа,<br>
        Она вам руку жмёт, пылая и дрожа!<br>

        III

        Как весело, обув железом острым ноги,<br>
        Скользить по зеркалу стоячих, ровных рек!<br>
        А зимних праздников блестящие тревоги?..<br>
        Но надо знать и честь; полгода снег да снег,<br>
        Ведь это наконец и жителю берлоги,<br>
        Медведю, надоест. Нельзя же целый век<br>
        Кататься нам в санях с Армидами младыми<br>
        Иль киснуть у печей за стёклами двойными.<br>

        IV

        Ох, лето красное! любил бы я тебя,<br>
        Когда б не зной, да пыль, да комары, да мухи.<br>
        Ты, все душевные способности губя,<br>
        Нас мучишь; как поля, мы страждем от засухи;<br>
        Лишь как бы напоить, да освежить себя —<br>
        Иной в нас мысли нет, и жаль зимы старухи,<br>
        И, проводив её блинами и вином,<br>
        Поминки ей творим мороженым и льдом.<br>

        V

        Дни поздней осени бранят обыкновенно,<br>
        Но мне она мила, читатель дорогой,<br>
        Красою тихою, блистающей смиренно.<br>
        Так нелюбимое дитя в семье родной<br>
        К себе меня влечёт. Сказать вам откровенно,<br>
        Из годовых времён я рад лишь ей одной,<br>
        В ней много доброго; любовник не тщеславный,<br>
        Я нечто в ней нашёл мечтою своенравной.<br>

        VI

        Как это объяснить? Мне нравится она,<br>
        Как, вероятно, вам чахоточная дева<br>
        Порою нравится. На смерть осуждена,<br>
        Бедняжка клонится без ропота, без гнева.<br>
        Улыбка на устах увянувших видна;<br>
        Могильной пропасти она не слышит зева;<br>
        Играет на лице ещё багровый цвет.<br>
        Она жива ещё сегодня, завтра нет.<br>

        VII

        Унылая пора! очей очарованье!<br>
        Приятна мне твоя прощальная краса —<br>
        Люблю я пышное природы увяданье,<br>
        В багрец и в золото одетые леса,<br>
        В их сенях ветра шум и свежее дыханье,<br>
        И мглой волнистою покрыты небеса,<br>
        И редкий солнца луч, и первые морозы,<br>
        И отдалённые седой зимы угрозы.<br>

        VIII

        И с каждой осенью я расцветаю вновь;<br>
        Здоровью моему полезен русской холод;<br>
        К привычкам бытия вновь чувствую любовь:<br>
        Чредой слетает сон, чредой находит голод;<br>
        Легко и радостно играет в сердце кровь,<br>
        Желания кипят — я снова счастлив, молод,<br>
        Я снова жизни полн — таков мой организм<br>
        (Извольте мне простить ненужный прозаизм).<br>

        IX

        Ведут ко мне коня; в раздолии открытом,<br>
        Махая гривою, он всадника несёт,<br>
        И звонко под его блистающим копытом<br>
        Звенит промёрзлый дол и трескается лёд.<br>
        Но гаснет краткий день, и в камельке забытом<br>
        Огонь опять горит — то яркий свет лиёт,<br>
        То тлеет медленно — а я пред ним читаю<br>
        Иль думы долгие в душе моей питаю.<br>

        X

        И забываю мир — и в сладкой тишине<br>
        Я сладко усыплён моим воображеньем,<br>
        И пробуждается поэзия во мне:<br>
        Душа стесняется лирическим волненьем,<br>
        Трепещет и звучит, и ищет, как во сне,<br>
        Излиться наконец свободным проявленьем —<br>
        И тут ко мне идёт незримый рой гостей,<br>
        Знакомцы давние, плоды мечты моей.<br>

        XI

        И мысли в голове волнуются в отваге,<br>
        И рифмы лёгкие навстречу им бегут,<br>
        И пальцы просятся к перу, перо к бумаге,<br>
        Минута — и стихи свободно потекут.<br>
        Так дремлет недвижим корабль в недвижной влаге,<br>
        Но чу! — матросы вдруг кидаются, ползут<br>
        Вверх, вниз — и паруса надулись, ветра полны;<br>
        Громада двинулась и рассекает волны.<br>
    </h2>
    <IMG SRC="/images/image_53031011112813281928_mid.jpg"> <br>
    <a href = "#up"> наверх </a> <br>
    <a href = ../poem.html> назад </a>
</font>
</body>
</html>